*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}
body{
    height: 2000px;
}
#top{
    position: fixed;
    bottom: 40px;
    right: 80px;
    width: 180px;
    height: 180px
}